//>>>>> Component Button Here <<<<<//
.theme-btn {
    display: inline-block;
    vertical-align: middle;
    -webkit-appearance: none;
    border: none;
    outline: none !important;
    background-color: $theme-color;
    color: $white;
    font-size: 16px;
    font-weight: 600;
    padding: 21px 36px;
    transition: 0.5s ease-in-out;
    text-transform: capitalize;
    position: relative;
    z-index: 2;
    overflow: hidden;
    text-align: center;
    border-radius: 40px;
    line-height: 1;
    font-family: "Inter Tight", sans-serif;

    &.style-2 {
        background-color: $theme-color-2;
    }

    &::after {
        content: "";
        background-color: $header-color;
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        clip-path: circle(0% at 50% 50%);
        transition: all cubic-bezier(0, 0.96, 0.58, 1.1) 0.8s;
        z-index: -1;
    }

    i {
        margin-left: 10px;
        transform: rotate(-45deg);
    }

    &:hover {
        background-color: $header-color;
        color: $white;

        &::after {
            clip-path: circle(100% at 50% 50%);
            transition: all cubic-bezier(0, 0.96, 0.58, 1.1) 4s;
        }
    }

    &.theme-btn-3 {
        background-color: $theme-color-3;
    }

    @include breakpoint (max-md){
        padding: 20px 32px;
    }

    @include breakpoint (max-sm){
        padding: 18px 30px;
        font-size: 14px;
    }
}


.link-btns {
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    text-transform: capitalize;
    color: $text-color;

    i {
        transform: rotate(-40deg);
        @include transition;
        font-weight: 400;
        margin-left: 10px;
    }

    &:hover {
        color: $theme-color;
        
        i {
            transform: rotate(0);
        }
    }
}