.service-box-items {
    position: relative;
    z-index: 9;
    //padding: 5px;
    .accordion-single {
      overflow: hidden;
      border-bottom: 1px solid rgba(13, 38, 108, 0.10);
        .header-area {
            .accordion-btn {
                @include flex;
                justify-content: space-between;
                padding: 30px 30px 40px;

                @include breakpoint (max-lg){
                    flex-wrap: wrap;
                    gap: 30px;
                }
            }
        }
       
        .content-items {
            @include flex;
            width: 100%;
            gap: 200px;

            @include breakpoint (max-lg){
                gap: 30px;
            }

            @include breakpoint (max-sm){
                flex-wrap: wrap;
            }

            .post-number {
               font-size: 16px;
               font-weight: 400;
            }

            .content {
                
    
                h5 {
                    a {
                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
            }
        }

        .service-image {
            transition: all 0.6s;
            margin-bottom: -400px;
            opacity: 0;
            visibility: hidden;

            img {
                @include imgw;
                border-radius: 7px;
            }
        }

        .right-content {
            max-width: 490px;
            @include flex;
            justify-content: space-between;
            width: 100%;
            overflow: hidden;

            @include breakpoint (max-sm){
                flex-wrap: wrap;
                gap: 20px;
            }

            p {
                max-width: 300px;
                margin-bottom: -180px;
                opacity: 0;
                visibility: hidden;
                @include transition;
            }

            .arrow-icon {
                display: inline-block;
                width: 50px;
                height: 50px;
                line-height: 50px;
                background-color: $white;
                text-align: center;
                border-radius: 50%;
                color: $text-color;

                &:hover {
                    background-color: $theme-color;
                    color: $white;
                }
            }
        }

        &.active {
            background-color: $white;
            border-radius: 7px;
            
            .right-content {
                p {
                    margin-bottom: 0;
                    opacity: 1;
                    visibility: visible;
                }

                .arrow-icon {
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    background-color: #13B5EA;
                    text-align: center;
                    border-radius: 50%;
                    color: $white;
    
                    &:hover {
                        background-color: $theme-color;
                        color: $white;
                    }
                }
            }

            .service-image {
                margin-bottom: 0;
                opacity: 1;
                visibility: visible;
            }
        }

        @include breakpoint (max-xxl){
            background-color: $white;
            border-radius: 7px;
            
            .right-content {
                p {
                    margin-bottom: 0;
                    opacity: 1;
                    visibility: visible;
                }

                .arrow-icon {
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    line-height: 50px;
                    background-color: #13B5EA;
                    text-align: center;
                    border-radius: 50%;
                    color: $white;
    
                    &:hover {
                        background-color: $theme-color;
                        color: $white;
                    }
                }
            }

            .service-image {
                margin-bottom: 0;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

.service-wrapper {
    margin-top: 50px;

    @include breakpoint (max-md){
        margin-top: 30px;
    }
}

.service-bg-section {
    position: relative;
    // height: 750px;
    background-attachment: fixed;

    &::before {
        @include before;
        background: linear-gradient(180deg, rgba(15, 49, 58, 0.00) 31.33%, #0F313A 100%);
    }
}

.service-content {
    @include flex;
    justify-content: space-between;
    padding: 500px 0 100px;

    @include breakpoint (max-xxxl){
        padding: 400px 0 100px;
    }

    @include breakpoint (max-xxl){
        padding: 200px 0 100px;
    }

    @include breakpoint (max-lg){
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        text-align: center;
        padding: 80px 0 0;
    }

    .theme-btn {
        background-color: $theme-color-2;
    }
}

.service-wrapper-2 {
    border-radius: 10px;
    overflow: hidden;
    background-color: $white;
    margin-top: 60px;

    @include breakpoint (max-md){
        margin-top: 30px;
    }

    .service-card-item {
        border: 1px solid rgba(15, 49, 58, 0.10);
        padding: 10px;
        border-right: none;

        @include breakpoint (max-xl){
            border-right: 1px solid rgba(15, 49, 58, 0.10);
        }
       
    
        .service-image {
    
            img {
                @include imgw;
                border-radius: 7px;
            }
        }
    
        .content {
            padding: 20px 25px;

            @include breakpoint (max-xxxl){
                padding: 20px;
            }
    
            .icon {
                font-size: 50px;
                color: $theme-color-2;
                margin-bottom: 30px;
            }
    
            h4 {
                font-size: 22px;
                margin-bottom: 10px;

                @include breakpoint (max-xxxl){
                  font-size: 18px;
                }

                @include breakpoint (max-xl){
                    font-size: 16px;
                  }

                @include breakpoint (max-lg){
                   font-size: 22px;
                }
    
                a {
                    display: inline;
                    padding-bottom: 0;
                    -webkit-transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
                    transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
                    background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), color-stop(98%, currentColor));
                    background-image: linear-gradient(to bottom, currentColor 0%, currentColor 98%);
                    background-size: 0 2px;
                    background-repeat: no-repeat;
                    background-position: left 100%;
                    color: $header-color-2;
    
                    &:hover {
                        color: $theme-color-2;
                        background-size: 100% 2px;
                    }
                }
            }

            .link-btns {
                display: inline;
                padding-bottom: 0;
                -webkit-transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
                transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
                background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), color-stop(98%, currentColor));
                background-image: linear-gradient(to bottom, currentColor 0%, currentColor 98%);
                background-size: 0 2px;
                background-repeat: no-repeat;
                background-position: left 100%;
                margin-top: 20px;
                display: inline-block;

                &:hover {
                    color: $theme-color-2;
                    background-size: 100% 2px;
                }
            }
        }
    }
}

.service-wrapper-3 {
    margin-top: 60px;
    margin-right: -20%;

    @include breakpoint (max-xl) {
        margin-right: 0;
    }

    @include breakpoint (max-md) {
        margin-top: 30px;
    }

    .service-card-items {
        border: 1px solid rgba(1, 23, 45, 0.10);
        padding: 40px 60px;
        border-radius: 6px;
        @include transition;

        @include breakpoint (max-xxxl){
            padding: 40px 30px;
        }

        @include breakpoint (max-xxl){
            padding: 40px;
        }

        @include breakpoint (max-sm){
            padding: 30px;
        }

        &:hover {
            background-color: #F7F7F8;
        }

        .icon {
            font-size: 55px;
            color: $theme-color-3;
            margin-bottom: 130px;

            @include breakpoint (max-xl) {
                margin-bottom: 50px;
            }
        }

        .service-contents {

            h4 {
                margin-bottom: 10px;

                @include breakpoint (max-xxxl){
                    font-size: 20px;
                }
    
                a {
                    display: inline;
                    padding-bottom: 0;
                    -webkit-transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
                    transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
                    background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), color-stop(98%, currentColor));
                    background-image: linear-gradient(to bottom, currentColor 0%, currentColor 98%);
                    background-size: 0 2px;
                    background-repeat: no-repeat;
                    background-position: left 100%;
                    color: $header-color-3;
    
                    &:hover {
                        color: $theme-color-3;
                        background-size: 100% 2px;
                    }
                }
            }

            .link-btns {
                display: inline;
                padding-bottom: 0;
                -webkit-transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
                transition: background-size 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
                background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), color-stop(98%, currentColor));
                background-image: linear-gradient(to bottom, currentColor 0%, currentColor 98%);
                background-size: 0 2px;
                background-repeat: no-repeat;
                background-position: left 100%;
                margin-top: 30px;
                display: inline-block;
                color: $header-color-3;

                &:hover {
                    color: $theme-color-3;
                    background-size: 100% 2px;
                }
            }
        }
    }
}

.service-section-2 {

    .container-fluid {
        padding: 0 50px;

        @include breakpoint (max-xxl) {
           padding: 0 40px;
        }

        @include breakpoint (max-xl) {
            padding: 0 30px;
         }
    }
}

.service-section-3 {

    .container-fluid {
        padding: 0 50px;
    }

    .slider-button {
        @include flex;
        gap: 50px;
        justify-content: center;
        margin-top: 60px;

        @include breakpoint (max-md){
            gap: 20px;
            margin-top: 40px;
        }

        .array-buttons {
          
            .array-prev {
              width: 50px;
              height: 50px;
              line-height: 50px;
              border-radius: 100px;
              text-align: center;
              background-color: transparent;
              color: $text-color;
              @include transition;
              border: 1px solid rgba(1, 23, 45, 0.10);

              i {
                transform: rotate(45deg);
              }
          
              &:hover {
                  background-color: $theme-color-3;
                  color: $white;
                  border: 1px solid $theme-color;
              }
           }
          
          .array-next {
              width: 50px;
              height: 50px;
              line-height: 50px;
              border-radius: 50px;
              text-align: center;
              color: $white;
              background-color: $theme-color-3;
              @include transition;

              i {
                transform: rotate(-45deg);
              }
          
              &:hover {
                  background-color: $header-color-3;
                  color: $white;
              }
          }
      }
    }
}

.service-bg-section-2 {
    position: relative;

    &::before {
        @include before;
        background: linear-gradient(180deg, rgba(1, 23, 45, 0.10) 31.06%, rgba(1, 23, 45, 0.95) 72.43%);
    }
}

.service-bg-wrapper-2 {

    .counter-wrapper {
        @include flex;
        justify-content: space-between;
        border-top: 1px solid rgba(255, 255, 255, 0.10);
        padding-top: 90px;
        margin-top: 90px;
        position: relative;

        @include breakpoint (max-xl) {
            flex-wrap: wrap;
            gap: 30px;
            padding-top: 50px;
            margin-top: 50px;
        }

        .counter-item {
            min-width: 190px;
            h2 {
                color: $white;
            }

            p {
                color: $white;
            }
        }
    }
}

.service-inner-wrapper-1 {
    border-bottom: 1px solid rgba(15, 49, 58, 0.10);
    position: relative;

    &::before {
        position: absolute;
        top: 0;
        left: 50%;
        content: "";
        width: 1px;
        height: 100%;
        background-color: rgba(15, 49, 58, 0.10);
        transform: translateX(-50%);

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .service-inner-box-1 {
        padding: 80px 0;

        @include breakpoint (max-xl){
            padding: 30px 0;
        }

        .content {
            margin-top: 30px;

            h4 {
                color: $header-color-2;
                margin-bottom: 15px;

                a {
                    color: $header-color-2;

                    &:hover {
                        color: $theme-color-2;
                    }
                }
            }
        }
    }
}

.service-section-inner-2 {
    .section-title {
        .left-margin-style {
            margin-left: 300px;

            @include breakpoint (max-xxl){
                margin-left: 0;
            }

            p {
                max-width: 800px;
                font-size: 20px;
                line-height: 160%;
                font-weight: 500;
                margin-top: 40px;
            }
        }
    }
}


.service-inner-wrapper-2 {
    .thumb {
        margin-top: 30px;
        
        img {
            @include imgw;
            border-radius: 250px;
        }
    }

    .content {
        margin-top: 30px;

        .number {
            width: 45px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            border-radius: 50%;
            border: 1px solid rgba(15, 49, 58, 0.10);
            display: inline-block;
            margin-bottom: 40px;
        }

        .inner-content{
            border-top: 1px solid rgba(15, 49, 58, 0.10);
            padding-top: 200px;

            @include breakpoint (max-xl){
                padding-top: 40px;
             }
        }

        h4 {
            margin-bottom: 20px;

            a {
                color: $header-color-2;

                &:hover {
                    color: $theme-color-2;
                }
            }
        }

        &:hover {
            .number {
                background-color: $theme-color-2;
                color: $white;
            }
        }
    }
}

.service-details-wrapper {
    .top-content {
        border-bottom: 1px solid rgba(15, 49, 58, 0.10);
        padding-bottom: 100px;

        @include breakpoint (max-xl){
           padding-bottom: 40px;
        }

        h4 {
            line-height: 146%;
            max-width: 1070px;
        }
    }

    .top-content-2 {
        padding-top: 100px;

        @include breakpoint (max-xl){
            padding-top: 40px;
         }

        .top-text-2 {
            line-height: 163%;
        }

        .content-head {
            max-width: 235px;
            h5 {
                line-height: 150%;
                margin-bottom: 10px;
            }
        }
    }

    .details-image {
        padding-top: 100px;

        @include breakpoint (max-xl){
            padding-top: 40px;
         }

        img {
            @include imgw;
        }
    }

    .details-content {
        background-color: #0F313A;
        padding: 100px 0;

        @include breakpoint (max-lg){
          padding: 80px 0;
        }

        .details-content-2 {
            max-width: 550px;

            h2 {
                color: $white;
                padding-bottom: 40px;
                margin-bottom: 40px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.10);
            }

            p {
                
                color: $white;
            }

            .theme-btn {
                background-color: transparent;
                color: $white;
                border: 1px solid $white;
                margin-top: 50px;

                &::before,&::after {
                    background-color: $theme-color-2;
                }

                &:hover {
                    border: 1px solid $theme-color-2;
                }
            }
        }

        .details-box-items {
            background-color: $theme-color-2;
            padding: 60px 70px;
            border-radius: 5px;
            margin-top: -300px;

            @include breakpoint (max-lg){
                margin-top: 0;
                padding: 40px;
            }

            h3 {
                color: $white;
                line-height: 134%;
                margin-bottom: 30px;
            }

            p {
                color: $white;
            }

            ul {
                margin-top: 50px;

                li {
                    &:not(:last-child){
                        margin-bottom: 50px;

                        @include breakpoint (max-md){
                            margin-bottom: 30px;
                        }
                    }
                    .list-text {
                        margin-top: 30px;

                        h4 {
                            color: $white;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
    }
}

.feature-details-wrapper {
    .thumb{
        img {
            @include imgw;
            border-radius: 10px;
        }
    }

    .feature-details-cotent {
        margin-left: 60px;

        @include breakpoint (max-xl){
            margin-left: 0;
        }

        h2 {
            margin-bottom: 65px;
            color: $header-color-2;

            @include breakpoint (max-mf){
                margin-bottom: 30px;
            }
        }

        .text-3 {
            margin-top: 35px;

            @include breakpoint (max-sm){
              margin-top: 30px;
            }
        }

        .icon-items-area {
            @include flex;
            justify-content: space-between;
            margin-top: 50px;

            @include breakpoint (max-xl){
                flex-wrap: wrap;
                margin-top: 30px;
                gap: 30px;
            }

            .icon-items {
                @include flex;
                gap: 25px;

                .icon {
                    font-size: 45px;
                    color: $theme-color-2;
                }

                h5 {
                    font-size: 18px;
                    max-width: 170px;
                    line-height: 155%;
                    color: $header-color-2;
                }
            }
        }
    }
}