
:root {
    
    --body: #0F1F1F;
    --black: #000;
    --white: #fff;
    --theme: #FF6832;
    --theme2: #F94735;
    --theme3: #FF311F;
    --header: #003865;
    --header2: #0F313A;
    --header3: #01172D;
    --text: #406A8C;
    --border: #273536;
    --bg: #FFF4F0;
    --box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.06);
}

// Theme Color - Defualt Colors
$body-color: var(--body);
$black: var(--black);
$white: var(--white);
$theme-color: var(--theme);
$theme-color-2: var(--theme2);
$theme-color-3: var(--theme3);
$text-color: var(--text);
$header-color: var(--header);
$header-color-2: var(--header2);
$header-color-3: var(--header3);
$border-color: var(--border);
$bg-color: var(--bg);
$shadow: var(--box-shadow);